body {display: flex;min-height: 100vh;flex-direction: column; background-color: #ECF0F1;}

main {flex: 1 0 auto; padding-left: 1em; padding-right: 1em;}

.card {margin-left: auto;margin-right: auto;}

ul.list-unstyled li {display:inline;}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {color: #81d4fa;}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {color: #039be5;}

.fa-twitter {color: #55acee;opacity: 0.5;}
.fa-twitter:hover {color: #55acee;opacity: 1;}

.fa-facebook {color: #3b5998;opacity: 0.5;}
.fa-facebook:hover {color: #3b5998;opacity: 1;}

.fa-tumblr {color: #35465c;opacity: 0.5;}
.fa-tumblr:hover {color: #35465c;opacity: 1;}

.fa-instagram {color: #bc2a8d;opacity: 0.5;}
.fa-instagram:hover {color: #bc2a8d;opacity: 1;}

.fa-github {color: #171515;opacity: 0.5;}
.fa-github:hover {color: #171515;opacity: 1;}

.fa-gitlab {color: #e34329;opacity: 0.5;}
.fa-gitlab:hover {color: #e34329;opacity: 1;}

.other_project {opacity: 0.5;width: 5rem;}
.other_project:hover {opacity: 1;}

header, footer {min-height: 1em;}

